*.suo
*.csproj.user
*.pidb
*.userprefs
/Terraria_Server/bin
/Terraria_Server/obj
/Utility/bin
/Utility/obj
/Regions/obj
/Regions/bin
/TDSMPlugin/obj
/TDSMPlugin/bin
/TDSMPermissions/TDSMPermissions/bin
/TDSMPermissions/TDSMPermissions/obj
/Languages/bin
/Languages/obj
/Restrict/bin
/Restrict/obj
/TDSMPlugin/TDSMPlugin/bin
/TDSMPlugin/TDSMPlugin/obj
/TDSM_PermissionsX/bin
/TDSM_PermissionsX/obj