*.suo
*.csproj.user
*.pidb
*.userprefs
/Retired/Terraria_Server/bin
/Retired/Terraria_Server/obj
/Retired/Utility/bin
/Retired/Utility/obj
/Retired/Regions/obj
/Retired/Regions/bin
/Retired/TDSMPlugin/obj
/Retired/TDSMPlugin/bin
/Retired/TDSMPermissions/TDSMPermissions/bin
/Retired/TDSMPermissions/TDSMPermissions/obj
/Retired/Languages/bin
/Retired/Languages/obj
/Restrict/bin
/Restrict/obj
/Retired/TDSMPlugin/TDSMPlugin/bin
/Retired/TDSMPlugin/TDSMPlugin/obj
/Retired/TDSM_PermissionsX/bin
/Retired/TDSM_PermissionsX/obj

/Binaries/*.zip
/tdsm-api/bin
/tdsm-api/obj
/tdsm-core/bin
/tdsm-core/obj
/tdsm-patcher/bin
/tdsm-patcher/obj
/tdsm-utility/bin
/tdsm-utility/obj


/PluginExamples/C#/BareBones/bin
/PluginExamples/C#/BareBones/obj
/PluginExamples/VB/BareBones/bin
/PluginExamples/VB/BareBones/obj

cecil