#================================================================
#================================================================
#				   Additional TDSM configuration
#================================================================
#================================================================

# Enable the whitelist. The whitelist is stored in Data\whitelist.txt.
# [true|false] Default: false
whitelist=false

# Allows communication to the TDSM heartbeat server.
# Default data sent when heartbeat is enabled: Api version, core version, platform, unique identifier (hashed), npc and item definition version, and how many unique players have connected (only the sum of).
# [true|false] Default: true
heartbeat=true

# Max client queue memory size. The limit of how much data is queued to be sent to a single client.
# [Integer] Default: 1024
# Recommended between 1024 and 4096.
# [Currently not working since 1.3]
#send-queue-quota=1024

# Allows bypassing of the slot queue mechanism when the server reaches the player limit.
# This is typically implemented by a plugin. For example when used in conjunction with restrict it allows operators to bypass the queue.
# {Integer] Default: 1
# [Currently not working since 1.3]
#overlimit-slots=1

# Location of a PID file to maintain.
# Comment out if not using a PID file.
#pid-file=process.pid

# If you are having issues with being kicked with forgery messages and you wish to disable TDSM's cheat detection this will allow you to do so.
# NOTE: This is separate from the official server's "secure" config property.
# [true|false] Default: true
cheat-detection=true

# ============================================
#                SERVER SIDE CHARACTERS
# ============================================

# Server Side Characters (SSC)
# Allows the server to store and use character files instead of letting the client. Can be used to prevent cross-world contamination or cheating.
# [NONE|AUTH|UUID] Default: AUTH
#	NONE	= No server side characters
#	AUTH	= Player data is based upon player name and password
#	UUID	= Use the player UUID - Not recommended as a player may change this
server-side-characters=AUTH

# This allows guests to connect with their normal gear.
# Upon authentication the server will issue them with their registered data, overwriting anything extra they may have brought along.
# * This is disabled by default so the server has FULL control and prevents misuse of items by guests.
# * This is also only useful for registering players with their existing inventories/data
# [true|false] Default: false
ssc-allow-guest-info=false

# ============================================
#                SERVER LIST
# ============================================

# Show this server on the server list.
# Default data sent when server-list is enabled: Port, max players, server name, server description.
# Requirement: heartbeat=true
# [true|false] Default: true
#server-list=true

# The name of this server to appear on the server list.
# Requirement: server-list=true
# This option CANNOT be blank.
server-list-name=TDSM Server

# Description of this server on the server list.
# Requirement: server-list=true
server-list-desc=This is an example of the description for use in the TDSM Server List.\0\0Hello World!

# Instead of displaying the IP on the server list, opt to display your domain.
# Requirement: server-list=true
#server-list-domain=tdsm.org

# ============================================
#       RCON - Remote Server Console
# ============================================

# Address for the Remote Console server to bind to.
$ Syntax: IP:PORT
# Default: 127.0.0.1:7023
rcon-bind-address=127.0.0.1:7023

# Remote console random hashing key, set to something completely random. This is used to hash your user/passwords so if you change it will invalidate all logins.
# If this is not specified one will be generated and stored in Data\rcon.nonce
#rcon-hash-nonce=

# ============================================
#       RAWS - REMOTE ADMIN WEB SERVER
# ============================================

# Listen Address
# The address that the web server should listen on.
# To disable simply comment the line out.
# If you change the port please ensure you change the META TAG tdsm:port in /WebInterface/Files/index.html
# NOTE: Web server is still in development and is disabled internally.
web-server-bind-address=http://localhost:8448

# Set to false if you wish to use another application to serve HTML files (such as nginx or apache)
# [true|false] Default: true
web-server-serve-files=true

# The provider/your server name shown to the web user.
web-server-provider=TDSM Rebind Server Host

#================================================================
#================================================================
#				   			Data storage
#================================================================
#================================================================
# These settings apply when you use a plugin data connector 
# such as tdsm-sqlite-connector. These plugins handle how data
# is stored. There should only ever be one data connector.
#================================================================

# Sets the database to be used.
#sqlite=Data Source=database.sqlite;Version=3;

# Connection string for MySQL.
mysql=Server=127.0.0.1;Database=tdsm;Uid=root;Pwd=;

# Connection string for MSSQL
# See https://www.connectionstrings.com/sql-server-2012/ for alternates
#mssql=Server=.\SQLExpress;Database=tdsm;Trusted_Connection=True;