#================================================================
#================================================================
#				   Additional TDSM configuration
#================================================================
#================================================================

#true to enable the whitelist
usewhitelist=false

#true to enforce the core to only run as a vanilla server under linux
vanilla-server=false

#Allows communication to the TDSM server
#heartbeat=true

#true to show on the server list, heartbeat must be enabled.
#server-list=true

#Name on server list
server-list-name=TDSM Server

#Description to use on the server list
server-list-desc=This is an example of the description for use in the TDSM Server List.\n\nHello World!

#Instead of displaying the IP, opt to display your domain
server-list-domain=tdsm.org

#Address for the Remote Console server to bind to
rcon-bind-address=127.0.0.1:7023

#Remote console random hashing key, set to something completely random. This is used to hash your user/passwords so if you change it will invalidate all logins.
#If this is not specified one will be generated and stored in Data\rcon.nonce
#rcon-hash-nonce=

#The address that the web server should listen on, to disable simply comment the line out.
#If you change the port please ensure you change the META TAG tdsm:port in /WebInterface/Files/index.html
#[Notice: Web server is still in development and is disabled in build 2b]
web-server-bind-address=127.0.0.1:8448

#Set to false if you wish to use another application to serve HTML files (such as nginx or apache)
web-server-serve-files=true

#The provider/your server name shown to the web user. 
web-server-provider=TDSM Rebind Server Host

#Max client queue memory size
send-queue-quota=1024

#Allows bypassing of the slot queue mechanism when the server reaches the player limit.
#Note: This is typically implemented by a plugins. For example when used in conjunction with restrict it allows operators to bypass the queue.
overlimit-slots=1

#Location of a pid file to maintain.
#pid-file=process.pid

#If you are having issues with being kicked with forgery messages and you wish to disable TDSM's cheat detection
#this will allow you to do so. (This is seperate from the official server's "secure" config property)
#Enabled by default
#cheat-detection=true

server-side-characters=true

#DEVELOPER config. This section is to disable TDSM starting it's own custom server implementation.
#Set to false to use Re-Logic server code
tdsm-server-core=true

#================================================================
#================================================================
#				   			Data storage
#================================================================
#================================================================
# These settings apply when you use a plugin data connector 
# such as tdsm-sqlite-connector. These plugins handle how data
# is stored. There should only every be one data connector.
#================================================================

#Sets the database to be used
#sqlite=database.sqlite

#Connection string for MySQL
mysql=Server=127.0.0.1;Database=tdsm;Uid=root;Pwd=;